<div class="bootstrap-wrapper">
  <a name="sagenda"></a>
  <app-root>Sagenda is loading...</app-root>

  <script>
    window.sagendaIntegration = 'WordPress';
    window.sagendaToken = '{{sagendaToken}}';
    // window.sagendaBearerToken = '{{bearerToken}}';
    window.sagendaWeekStartsOn = '{{weekStartsOn}}';
    window.sagendaLanguageCultureShortName = '{{languageCultureShortName}}';
    window.sagendaDateFormat = '{{dateFormat}}';
    window.sagendaTimeFormat = '{{timeFormat}}';
    window.baseUrl = 'https://sagenda.net/api/v3/';
    // window.sagendaBaseURL = '{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/';
  </script>
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/inline.bundle.js"></script>
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/polyfills.bundle.js"></script>
  <!-- <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/vendor.bundle.js"></script> -->
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/main.bundle.js"></script>
  <!-- <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/styles.bundle.js"></script> -->

</div>
