<div class="bootstrap-wrapper">
  <a name="sagenda"></a>
  <app-root>Sagenda is loading...</app-root>
  <script>
    window.sagendaIntegration = 'WordPress';
    window.sagendaBearerToken = '{{bearerToken}}';
    window.sagendaWeekStartsOn = '{{weekStartsOn}}';
    window.sagendaLanguageCultureShortName = '{{languageCultureShortName}}';
    window.sagendaDateFormat = '{{dateFormat}}';
    window.sagendaTimeFormat = '{{timeFormat}}';
    window.sagendaAssetsi18nPath = '{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/assets/i18n/';
  </script>
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/runtime.js"></script>
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/polyfills.js"></script>
  <script type="text/javascript" src="{{SAGENDA_CALENDAR_PLUGIN_URL}}assets/angular/main.js"></script>
</div>
